<!doctype html>
<html class="no-js" data-ng-app="frontApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body data-ng-controller="CandidateCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Loading  -->
    <div class="loading">
      <i class="ion-loading-c"></i>
      <span>Vote com consciência!</span>
    </div>

    <!-- Image Slide -->
    <header class="header-slide">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <article>
              <header>
                <h1>De Cara Limpa</h1>
              </header>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea incidunt aliquam, pariatur vero tempore, natus nisi placeat. Recusandae quisquam at illo consequatur praesentium fugit maiores impedit similique, nemo ex. Impedit!
              </p>
              <i class="ion-ios7-arrow-down hidden-xs"></i>
            </article>
          </div>
        </div>
      </div>
    </header>

    <!-- Search bar -->
    <section class="search-bar">
      <div>
        <div class="select">
          <div>
            <span class="active" data-ng-click="showPresidents()">Presidente</span>
            <span data-ng-repeat="position in positions" data-ng-bind="position.nome" data-ng-click="getPositionByState(position.cargoId)"></span>
          </div>
        </div>
        <div class="info hidden-xs">
          <i data-ng-show="globalStateSigle" class="ion-ios7-information"></i>
          <!-- <span>Clique em <b>2</b> candidatos para realizar uma comparação.</span> -->
          <span class="active" data-ng-show="globalStateSigle">Estado selecionado: </span><span data-ng-bind="globalStateSigle" data-ng-show="globalStateSigle"></span>
        </div>
      </div>
    </section>

    <!-- List of candidates or location -->
    <section>
      <div class="candidates-states">
        <div class="block presidentes-block" data-ng-repeat="president in presidents" data-ng-click="candidateDetail(president.id, president.apelido)">
          <h2><i class="ion-person"></i> - <span data-ng-bind="president.apelido"></span></h2>
        </div>
        <div class="block list-of-position-by-state-block" data-ng-repeat="position in positionByState" data-ng-click="getPositionByStateAndJob(position.sigla)">
          <h2><i class="ion-ios7-location"></i> <span data-ng-bind="position.name"></span> - <span data-ng-bind="position.count"></span></h2>
        </div>
      </div>
    </section>

    <!-- Candidate detail -->
    <section class="candidate-detail">
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            <h2 data-ng-bind="nameDetail"></h2>
          </div>
          <div class="col-xs-2">
            <i class="ion-close-round close-info"></i>
          </div>
        </div>
        <div class="row social-status">
          <!-- <div class="col-xs-12">
            Popularidade social: <b>32</b> pontos <i class="ion-ios7-information info"></i>
          </div> -->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="candidateChart"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>© Todos os direitos reservados ao <a href="#" title="Brasil">Brasil</a><img src="" alt=""></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-scenario/angular-scenario.js"></script>
    <script src="bower_components/chroma-js/chroma.js"></script>
    <script src="bower_components/highcharts.src/index.js"></script>
    <script src="bower_components/highcharts-more.src/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/animation/animation.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/candidateconstant.js"></script>
        <script src="scripts/services/candidate.js"></script>
        <script src="scripts/controllers/candidate.js"></script>
        <!-- endbuild -->
</body>
</html>
