<!-- Center select of Transparência Brasil -->
<section class="default-trans-container main-trans">

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>
          Transparência Brasil
        </h1>
      </div>
    </div>

    <div class="row row-box-select">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>
          Localizar candidato por estado
        </p>

        <div class="box-trans-select">
          <span>
            São Paulo - SP
          </span>
          <i class="ion-arrow-down-b"></i>
          <img src="images/transparecia-brasil-divisor-select.png" class="divisor">
          <i class="ion-arrow-right-c" title="vamos lá!"></i>


          <div class="box-trans-hidden-select">
            <ul>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
              <li>
                Campinas - SP
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>