*.rbc
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml
/.bundle
/vendor
.ruby-version
.bundle
front/node_modules/
front/bower_components/
front/.sass-cache/
front/.tmp/
