$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


/*=============================================
=            Colors of application            =
=============================================*/

$primary-color: #16B83E;
$secondary-color: #FDE01F;
$action-color: #1352B9;
$text-color: lighten( #000000, 13% );
$divisor-color: lighten( #000000, 73% );

/*-----  End of Colors of application  ------*/



/*============================
=            Body            =
============================*/

body {
  overflow-x: hidden;
  background: url(../images/background-transparencia-brasil.jpg) repeat;
}

/*-----  End of Body  ------*/

/*=============================================================
=            Default container used in application            =
=============================================================*/

.default-trans-container {

}

/*-----  End of Default container used in application  ------*/

/*===========================================
=            Description off app            =
===========================================*/

.description-app {
    p {
        text-align: center;
    }
}

/*-----  End of Description off app  ------*/



/*=============================================
=            Footer of application            =
=============================================*/

footer {
    height: 20px;
    background: #1352b9;
    text-align: right;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    width: 100%;
}

/*-----  End of Footer of application  ------*/



@import "header.scss";
@import "home.scss";
@import "default-box-select.scss";