/*=============================================
=            Colors of application            =
=============================================*/

$primary-color: #16B83E;
$secondary-color: #FDE01F;
$action-color: #1352B9;
$text-color: lighten( #000000, 13% );
$divisor-color: lighten( #000000, 73% );

/*-----  End of Colors of application  ------*/

/*=============================================
=            Header of application            =
=============================================*/

.trans-header {
  width: 100%;
  height: 17px;
  background: $primary-color;
  color: #ffffff;
}

/*-----  End of Header of application  ------*/