$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

@-webkit-keyframes arrow{
  0%{
    top: 10px;
  }
  50%{
    top: 35px;
  }
  100%{
    top: 10px;
  }
}
@-moz-keyframes arrow{
  0%{
    top: 10px;
  }
  50%{
    top: 35px;
  }
  100%{
    top: 10px;
  }
}
@-o-keyframes arrow{
  0%{
    top: 10px;
  }
  50%{
    top: 35px;
  }
  100%{
    top: 10px;
  }
}
@keyframes arrow{
  0%{
    top: 10px;
  }
  50%{
    top: 35px;
  }
  100%{
    top: 10px;
  }
}

/* Loading */
.loading {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  color: #D90B0B;
  span{
    font-size: 1.5em;
  }
  i {
    font-size: 3em;
    display: block;
  }
}

/* Slide */
.header-slide {
  background: url(../images/bg-de-cara-limpa.png) no-repeat;
  background-size: cover;
  min-height: 390px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 3px #999999;
  padding-bottom: 30px;

  h1, i{
     line-height: 1.2500em; /* 100px */
  }

  h1{
    margin-top: 60px;
    font-size: 2.4em;
    margin-bottom: 45px;
  }

  i {
    position: relative;
    font-size: 3em;
    top: 10px;
    -webkit-animation: arrow 1.5s infinite;
    -moz-animation: arrow 1.5s infinite;
    -o-animation: arrow 1.5s infinite;
    animation: arrow 1.5s infinite;
  }

  p {
    padding: 0 110px;
    font-size: 1.1em; /* 16px */
    line-height: 1.6250em; /* 26px */
  }
}

/* Search bar */
.search-bar {
  padding: 38px 10px;
  height: 98px;
  background: #ffffff;
  box-shadow: 0 1px 3px #888888;
  position: relative;
  .select {
    span{
      margin-right: 10px;
      cursor: pointer;
      float: left;
      text-decoration: underline;
      color: #c3c3c3;
      &:hover{
        text-decoration: none;
      }
    }
    span.active {
      color: #b3092c;
    }
  }
  .info{
    color: #b3092c;
    width: 50%;
    float: right;
    text-align: right;
  }

  .select-box {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 3px #888888;
    max-height: 180px;
    display: none;
    width: 200px;
    overflow-y: auto;
    padding: 10px;
    z-index: 9999;
    ul {
      list-style: none;
      padding: 0;
      li{
        margin-bottom: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        border-bottom: 1px solid #ffffff;
        &:hover {
          border-bottom: 1px solid #c9c9c9;
        }
      }
    }
  }
}

.candidates-states {
  display: flex;
  flex-flow: row wrap;

  .block {
    color: #ffffff;
    min-width: 160px;
    height: 160px;
    flex: 1;
    position: relative;
    h2 {
      font-size: 1em;
      line-height: auto;
      padding: 10px;
    }
    cursor: pointer;
    -webkit-transitions:.5s ease;
    -moz-transitions:.5s ease;
    -o-transitions:.5s ease;
    transition:.5s ease;
    &:hover {
      box-shadow: 0 0 10px #000000;
      z-index: 1;
    }
  }

  .list-of-position-by-state-block {
    h2 {
      font-size: 1em;
    }
  }
}

.candidate-detail {
  display: none;
  h2, i {
    color:#FE00FF;
    font-size: 2em;
    line-height: auto;
  }

  i.close-info {
    margin-top: 20px;
    float: right;
    cursor: pointer;
  }

  i.info {
    font-size: 1em;
  }

  .social-status {
    color:#FE00FF;
  }
}

/* footer */
footer{
  background: #E9E9E9;
  padding: 10px 0 0 0;
  text-align: left;
  color: #787878;
  font-size: 0.875em;
  margin-top: 10px;
}

/* Medium screens */
@media all and (max-width: 600px) {

  .header-slide {
    h1 {
      font-size: 2em;
      line-height: auto;
    }

    p {
      padding: 0;
    }
  }
}
